<section>
    <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img [src]="imagePath" alt="Banner" class="d-block w-100 img-fluid">
        </div>
        <div class="carousel-item">
          <img [src]="imagePathbanner" alt="Banner" 
            class="d-block w-100 img-fluid">
        </div>
        <div class="carousel-item">
          <img [src]="imagePathbanner3" alt="Banner"  class="d-block w-100 img-fluid"
            >
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

    <div class="txtbienvenido">
      <h3 class="card-title">Bienvenido a la Asociación de Agricultores y Pescadores de la Travesía
        AsoAgroPescan</h3>
      <p class="card-text">
  
  
  
        Nos complace darte la bienvenida a nuestra comunidad en línea. En AsoAgroPescan, nos dedicamos
        apasionadamente a promover prácticas agrícolas y pesqueras sostenibles, así como a fortalecer la
        prosperidad económica y social de nuestra región a lo largo del río Magdalena.
        <br>
  
        Desde nuestro humilde comienzo hasta nuestro presente vibrante, hemos estado comprometidos con la
        ética, la transparencia y la responsabilidad social en todas nuestras operaciones. Creemos firmemente
        en el poder de la colaboración y la comunidad para impulsar el cambio positivo, y estamos emocionados
        de compartir nuestra historia, proyectos y logros contigo.
  
      </p>
    </div>

      <h3 class="card-title valores">Nuestro Valores <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M12.75 3.03v.568c0 .334.148.65.405.864l1.068.89c.442.369.535 1.01.216 1.49l-.51.766a2.25 2.25 0 0 1-1.161.886l-.143.048a1.107 1.107 0 0 0-.57 1.664c.369.555.169 1.307-.427 1.605L9 13.125l.423 1.059a.956.956 0 0 1-1.652.928l-.679-.906a1.125 1.125 0 0 0-1.906.172L4.5 15.75l-.612.153M12.75 3.031a9 9 0 0 0-8.862 12.872M12.75 3.031a9 9 0 0 1 6.69 14.036m0 0-.177-.529A2.25 2.25 0 0 0 17.128 15H16.5l-.324-.324a1.453 1.453 0 0 0-2.328.377l-.036.073a1.586 1.586 0 0 1-.982.816l-.99.282c-.55.157-.894.702-.8 1.267l.073.438c.08.474.49.821.97.821.846 0 1.598.542 1.865 1.345l.215.643m5.276-3.67a9.012 9.012 0 0 1-5.276 3.67m0 0a9 9 0 0 1-10.275-4.835M15.75 9c0 .896-.393 1.7-1.016 2.25" />
      </svg>
      </h3>

      <p class="card-text">
         <p class="card-text descripcion">
          Nuestros valores son fundamentales para construir confianza y credibilidad, contribuyendo al bienestar social y económico de la región, conocelos a continuación.
          </p>

      <div class="valores-1">
        <div class="row">
          <div class="col">
            <div class="col">
                <div class="card border-success mb-3" style="max-width: 18rem;">
                    <div class="card-body text-success d-flex justify-content-center align-items-center">
                      <h5 class="card-title">Etica y transparencia</h5>
                    </div>
                </div>         
    
            </div>
        </div>
        <div class="col">
            <div class="col">
                <div class="card border-success mb-3" style="max-width: 18rem;">
                    
                    <div class="card-body text-success d-flex justify-content-center align-items-center">
                      <h5 class="card-title">Responsabilidad Social</h5>
                    </div>
                  </div>         
    
            </div>
        </div>
        <div class="col">
            <div class="col">
                <div class="card border-success mb-3" style="max-width: 18rem;">
                    <div class="card-body text-success d-flex justify-content-center align-items-center">
                      <h5 class="card-title">Sostenibilidad</h5>
                    </div>
                  </div>         
    
            </div>
        </div>
        <div class="col">
            <div class="col">
                <div class="card border-success mb-3" style="max-width: 18rem;">
                    <div class="card-body text-success d-flex justify-content-center align-items-center">
                      <h5 class="card-title">Respeto</h5>
                    </div>
                  </div>         
    
            </div>
        </div>

        <div class="col">
          <div class="col">
              <div class="card border-success mb-3" style="max-width: 18rem;">
                  <div class="card-body text-success d-flex justify-content-center align-items-center">
                    <h5 class="card-title">Calidad</h5>
                  </div>
                </div>         
  
          </div>
      </div>
    </div>
  </div>

 <div class="inicios">
  <h3 class="card-title">Los Inicios de Asoagropescan </h3>
  <p class="card-text">
  Asoagropescan nació de la profunda necesidad de impulsar proyectos que apoyen a las mujeres, pescadores y agricultores de la comunidad. A orillas del majestuoso río Magdalena, en el corazón de Colombia, la vida fluye al ritmo de las aguas y la tierra fértil sostiene a generaciones. Sin embargo, los desafíos eran numerosos y las oportunidades escasas.
</p>
 </div>


<div class="video">
  <iframe width="560" height="315" class="object-fit-contain" autoplay src="https://www.youtube.com/embed/3bYxOhIh2ZA?si=l4b6Bjb-h4alnM6e" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</div>
</section>