<footer class="footer">
    <section>
        <div class="row">
            <div class="col">
                <img class="logoAso" [src]="imagePath" alt="Logo">
            </div>
            <div class="col">
                <span>En apoyo de:</span>
            <img [src]="imagePathSena" alt="Logo_sena_Emprende">
            <img [src]="imageUnad" alt="Logo_Unad">
            <img [src]="imageFadepec" alt="Logo_Fadepec">
    
            </div>
          </div>
    </section>

    <p class="creditos">&copy; 2024-AsoAgroPescan - Desarrollado por Esteban Agamez</p>

</footer>