<Section>

    <div class="container project-section">
        <div class="row mb-4">
          <div class="col text-center">
            <h2 class="project-title">Nuestros Proyectos</h2>
            <p>Explora los proyectos que están impulsando el cambio positivo en nuestra comunidad.</p>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-md-6 col-lg-4 mb-4">
            <div class="card project-card">
              <div class="project-header">
                <h3 class="card-title">Acuicultura</h3>
              </div>
              <div class="project-body">
                <p class="card-text">Nuestro primero proyecto en curso</p>
                <img [src]="imgacuicultura" class="img-fluid" alt="Imagen del proyecto aCUICULTURA">
              </div>
              <div class="project-footer">
                Se enfoca en desarrollar prácticas sostenibles de acuicultura en la región del río Magdalena. A través de este proyecto, buscamos promover el uso responsable de los recursos acuáticos, mejorar la economía local y fortalecer la seguridad alimentaria. Trabajamos junto a las comunidades para implementar técnicas innovadoras y sostenibles que aumenten la producción de peces y otros recursos acuáticos, sin comprometer el equilibrio ecológico.
              </div>
            </div>
          </div>
          <!-- Aquí se pueden añadir más proyectos en el futuro -->
        </div>
      </div>
</Section>
