<section class="mision-vision">
    <div class="row">
        <div class="col-sm-6">
            <div class="card mv">
                <div class="card-body">
                    <h5 class="card-title">Misión</h5>
                    <p class="card-text">Nuestra misión es empoderar a las comunidades rurales, fomentando el desarrollo
                        sostenible y la prosperidad económica a través de la creación y apoyo a proyectos de actividades
                        rurales y emprendimientos. Trabajamos incansablemente para fortalecer los lazos comunitarios,
                        preservar la cultura rural y mejorar la calidad de vida de las personas que llaman hogar a nuestras
                        áreas rurales.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card mv">
                <div class="card-body">
                    <h5 class="card-title">Visión</h5>
                    <p class="card-text">Visualizamos un futuro en el que las áreas rurales sean centros vibrantes de
                        innovación, emprendimiento y bienestar. Queremos ser la fuerza motriz detrás de esta transformación,
                        siendo reconocidos como líderes en la creación de oportunidades y en la promoción de proyectos que
                        generen empleo, fortalezcan la infraestructura local y promuevan la autosuficiencia en nuestras
                        comunidades rurales. Soñamos con un mundo en el que las personas rurales prosperen y sus raíces
                        culturales se mantengan vivas y florecientes.</p>
                </div>
            </div>
        </div>
    </div>
   </section>
    
  <section class="valores">
    <div class="titulo-valores">Nuestros Valores</div>
    
    <div class="descripcion-valores">
        Los valores de AsoAgroPescan son fundamentales para construir confianza y credibilidad, contribuyendo al bienestar social y económico de la región. Promueven prácticas sostenibles que preservan el medio ambiente, fomentan un entorno inclusivo y respetuoso, y aseguran altos estándares de calidad. Estos valores guían todas las acciones de la organización, garantizando un impacto positivo y duradero tanto en la comunidad como en el entorno natural
    </div>


    <div class="accordion" id="accordionPanelsStayOpenExample">
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                Ética y Transparencia
            </button>
          </h2>
          <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse">
            <div class="accordion-body">
              <strong>Descripción:</strong> Actuamos con integridad y honestidad en todas nuestras operaciones. La transparencia es fundamental para construir confianza entre nuestros miembros y con la comunidad. <br><br>
              <strong>Importancia:</strong> Asegura que todas las actividades se realicen de manera justa y abierta, promoviendo la confianza y el respeto.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                Responsabilidad Social
            </button>
          </h2>
            <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
                <div class="accordion-body">
                    <strong>Descripción:</strong> Nos comprometemos a actuar de manera ética y responsable, contribuyendo al desarrollo social y económico de la región y apoyando iniciativas que beneficien a la comunidad
                    <br><br>
                    <strong>Importancia:</strong>Fortalece el vínculo con la comunidad y asegura que nuestras acciones tengan un impacto positivo.
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                Sostenibilidad
              </button>
            </h2>
              <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse">
                  <div class="accordion-body">
                      <strong>Descripción:</strong> Comprometidos con prácticas agrícolas y pesqueras que preserven el medio ambiente y promuevan el uso responsable de los recursos naturales del río Magdalena.
                      <br><br>
                      <strong>Importancia:</strong>Garantiza la conservación del entorno natural para las futuras generaciones, alineando nuestras actividades con el cuidado del medio ambiente.
                  </div>
              </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false" aria-controls="panelsStayOpen-collapseFour">
                Respeto
              </button>
            </h2>
              <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse">
                  <div class="accordion-body">
                      <strong>Descripción:</strong> Promovemos el respeto mutuo entre nuestros miembros y con las comunidades vecinas, valorando la diversidad y fomentando un entorno inclusivo.
                      <br><br>
                      <strong>Importancia:</strong>Fomenta un ambiente de trabajo armonioso y asegura que todas las personas sean tratadas con dignidad y consideración.
                  </div>
              </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFive" aria-expanded="false" aria-controls="panelsStayOpen-collapseFive">
                Calidad
              </button>
            </h2>
              <div id="panelsStayOpen-collapseFive" class="accordion-collapse collapse">
                  <div class="accordion-body">
                      <strong>Descripción:</strong> Nos esforzamos por alcanzar los más altos estándares de calidad en nuestros productos y servicios, garantizando la satisfacción y bienestar de nuestros miembros y clientes.
                      <br><br>
                      <strong>Importancia:</strong>Asegura que ofrecemos lo mejor a nuestros miembros y clientes, manteniendo una reputación de excelencia.
                  </div>
              </div>
          </div>
    </div>
    
    
    <div class="row">
      <div class="miembros">
        <div class="titulo-valores">Miembros</div>
      
      <div class="descripcion-valores">
          La importancia de todos los miembros en AsoAgroPescan radica en su capacidad para trabajar juntos hacia una visión compartida, promover los valores de la organización y generar un impacto positivo tanto interna como externamente. Cada miembro, desde el representante legal hasta el personal de apoyo, contribuye de manera significativa al cumplimiento de la misión y los objetivos de la organización.
      </div>
        <div class="col">
            <div class="card" style="width: 14rem;">
                <img [src]="imagePath" class="card-img-top" alt="perfil_respresentante">
                <div class="card-body">
                  <h5 class="card-title">Presidente</h5>
                  <p class="card-text">
                    <b>Diabeth Montero</b> Su liderazgo y compromiso con la transparencia y la responsabilidad social son fundamentales para el éxito y la reputación de AsoAgroPescan.
                    
                </p>
                  <a href="https://wa.link/dryydk" class="btn btn-success">Contactar</a>
                </div>
              </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="col presidente">
                <div class="card  miembro border-success mb-3" style="max-width: 18rem;">
                    <div class="card-header bg-transparent border-success">Julio Rodelo</div>
                    <div class="card-body text-success">
                      <h5 class="card-title">Vicepresidente</h5>
                      <p class="card-text">Apoya al presidente en la dirección estratégica y supervisión de las operaciones, asumiendo sus funciones en su ausencia y representando a la organización en diversos eventos.</p>
                    </div>
                  </div>         
    
            </div>
        </div>
        <div class="col">
            <div class="col">
                <div class="card  miembro border-success mb-3" style="max-width: 18rem;">
                    <div class="card-header bg-transparent border-success">Luz Enith Villadiego</div>
                    <div class="card-body text-success">
                      <h5 class="card-title">Secretaria</h5>
                      <p class="card-text">Responsable de la documentación y actas de las reuniones, manejo de la correspondencia oficial, mantenimiento de archivos y facilitación de la comunicación interna.</p>
                    </div>
                  </div>         
    
            </div>
        </div>
        <div class="col">
            <div class="col">
                <div class="card miembro border-success mb-3" style="max-width: 18rem;">
                    <div class="card-header bg-transparent border-success">Delsis Hurtado</div>
                    <div class="card-body text-success">
                      <h5 class="card-title">Tesorera</h5>
                      <p class="card-text">Gestiona las finanzas de la organización, incluyendo la contabilidad, elaboración de presupuestos, informes financieros y control de fondos para asegurar un uso adecuado y eficiente.</p>
                    </div>
                  </div>         
    
            </div>
        </div>
        <div class="col">
            <div class="col">
                <div class="card  miembro border-success mb-3" style="max-width: 18rem;">
                    <div class="card-header bg-transparent border-success">Magola Mendez</div>
                    <div class="card-body text-success">
                      <h5 class="card-title">Fiscal</h5>
                      <p class="card-text">Supervisa y audita las cuentas y operaciones financieras, asegurando el cumplimiento normativo y promoviendo la transparencia y responsabilidad dentro de la organización</p>
                    </div>
                  </div>         
    
            </div>
        </div>
        <div class="col">
            <div class="col">
                <div class="card  miembro border-success mb-3" style="max-width: 18rem;">
                    <div class="card-header bg-transparent border-success">Yilenia Rodelo</div>
                    <div class="card-body text-success">
                      <h5 class="card-title">Vocal</h5>
                      <p class="card-text">Apoya las actividades del comité directivo, participando activamente en reuniones, representando a la organización y asumiendo tareas especiales según las necesidades.</p>
                    </div>
                  </div>         
            </div>
        </div>
    </div>
    </div>    
  </section>