<section class="formulario">
    <div class="row">
      <div class="col">
        <div class="card" style="width: 25rem;">
          <div class="card text-center">
            <div class="card-body">
              <h5 class="card-title">Contáctanos</h5>
              <form>
                <div class="form-group">
                  <label class="title-lavel" for="name">Nombre Completo</label>
                  <input type="text" class="form-control" id="name" placeholder="Ingresa tu nombre" required>
                </div>
                <div class="form-group">
                  <label class="title-lavel" for="email">Correo Electrónico</label>
                  <input type="email" class="form-control" id="email" placeholder="Ingresa tu correo electrónico"
                    required>
                </div>
                <div class="form-group">
                  <label class="title-lavel" for="subject">Asunto</label>
                  <input type="text" class="form-control" id="subject" placeholder="Ingresa el asunto" required>
                </div>
                <div class="form-group">
                  <label class="title-lavel" for="message">Mensaje</label>
                  <textarea class="form-control" id="message" rows="3" placeholder="Escribe tu mensaje aquí"
                    required></textarea>
                </div>
                <div class="form-group boton">
                  <button type="submit" class="btn btn-success">Enviar</button>
                </div>

              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
